<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>375083765214-cema57mv2n6bsun4rjfd5q7rrg9u2vm6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.375083765214-cema57mv2n6bsun4rjfd5q7rrg9u2vm6</string>
	<key>API_KEY</key>
	<string>AIzaSyCFzcVq5eQ4kXETPSZuUVDKXeRSSUGcRmE</string>
	<key>GCM_SENDER_ID</key>
	<string>375083765214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Jan.SportRecording</string>
	<key>PROJECT_ID</key>
	<string>sportrecording</string>
	<key>STORAGE_BUCKET</key>
	<string>sportrecording.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375083765214:ios:60b80a83c5fc53d5cca14f</string>
	<key>DATABASE_URL</key>
	<string>https://sportrecording.firebaseio.com</string>
</dict>
</plist>